/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
    color: white;
}

header{
    background-color: #ff6900;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px black ;
}

main{
    padding-bottom: 50px;
}

body{
    padding-top: 75px;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
    font-size: small;
    font-weight: bold;
}

footer{
    background-color: #1a1a1a;
}

/*Utils*/
.container{
    width: 800px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/*Header*/
.navbar{
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.customer-type{
    flex-basis: 20%;
}

.logo{
    flex-basis: 60%;
    text-align: center;
}

.icons{
    flex-basis: 20%;
    text-align: end;
}


.logo img{
    height: 25px;
}

.icons i{
    margin: 0 2px;
}

/*Main*/

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.col{
    flex-basis: calc(100%/3 - 40px/3);
}

.card{
    position: relative;
    cursor: pointer;
}

.card img{
    width: 100%;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card::after{
    content: '\2665';
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 0;
    color: black;
    background-color: white;
    padding: 6px;
}

.card:hover::after{
    color: red;
}

.standard-img:hover{
    opacity: 0;
}

.tag{
    padding: 5px;
    font-size: x-small;
    font-weight: bold;
}

.tag.discount{
    background-color: red;
    position: relative;
    top: -50px;
} 

.tag.sustain{
    background-color: green;
    position: relative;
    top: -50px;
}

.description{
    color: black;
}

.tag + .description{
    margin-top: -20px;
}

.brand{
    font-size: xx-small;
    font-style: normal;
}

.product-title{
    font-weight: bold;
    font-size: 14px;

}

.discount-price{
    color: red;
    font-weight: bold;
    font-size: small;
}

.standard-price{
    text-decoration: line-through;
    font-size: small;
}

/*Footer*/

footer .container{
    justify-content: space-between;
    padding: 25px 0;
}

.company-name{
    font-weight: bold;
    font-size: medium;
}

ul{
    list-style-type: none;
}

li a{
    font-weight: normal;
    font-size: x-small;
    margin-right: 10px;
}

.social h4{
    font-size: small;
}

.social-icons i{
    margin-right: 5px;
    margin-top: 5px;
}